<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/newcourseadded">
        <input type="text" placeholder="tittle" name="tittle">
        <input type="text" placeholder="description" name="desc">
        <input type="text" placeholder="category" name="category">
        <input type="submit">
    </form>
</body>
</html>