<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hii ur in logout</p>
    <form method="post" action="/check">
        <input type="submit" value="logout">
    </form>
    <pre>
        the available courses are :
        1.Introduction to programming. courseid =1
        2.Web Development Fundamentals. courseid=2
        3.Data Science Essentials . courseid=3


        please enter your email and course id below to register into course 
    </pre>
    <form action="/enroll" method="post">
        <input type="text" placeholder="email" name="email">
        <input type="number" placeholder="courseid" name="course_id">
        <input type="submit" value="enroll">
    </form>

    <form method="get" action="/userinfo">
        
        <input type="submit" value="yourinfo">
    </form>
</body>
</html>